#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
}

:root {
  --background-color: #09202c;
  --background-emphasis-color: # ;
  --text-body-color1: #abffea;
  --text-body-color2: #f5b1cc; 
  --text-title-color1: #a288d9; 
  --text-title-color2: #ff248a; 
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-body-color1);
  font-family: monospace;
  min-height: 100vh;
}

#root > div {
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  color: var(--text-title-color2);
  font-size: 20px; 
}

h2{
  color: var(--text-body-color2);
  font-size: 15px; 
}

p{
  color: var(--text-body-color1); 
  font-size: 13px; 
}