.home {
  max-width: 900px;
  padding: 3rem 0.5rem 0.5rem;
  text-align: left;
}

.posts-list {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.post-preview {
  padding: 0.8rem 0;
  border: none;
  width: 100%;
  text-align: left;
}

.post-preview:hover {
  transform: translateY(-2px);
}

.post-preview h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.post-preview h2 a {
  color: var(--text-body-color1);
  text-decoration: none;
  border-bottom: 1px dashed var(--text-body-color1);
}

.post-preview h2 a:hover {
  color: var(--text-body-color2);
  border-bottom-color: var(--text-body-color2);
}

.post-meta {
  display: flex;
  gap: 1rem;
  color: var(--text-body-color2);
  font-size: 0.7rem;
}
